<div class="container text-center">
  <h1> Who we are </h1>
  <h3>UnderGround Alliance</h3>
  <p>We are the UnderGround Alliance. Our Communities focus is to 
  reinvigorate every 
  communities connectivity through an app which stimulates verbal interaction 
  between younger technologically prone users to small business owners in the 
  community.  Allowing them to interact peer to peer for monetary gains, 
  to increase their important voice, and for freindship. Also, allowing free 
  advertising and low cost marketing for business owners.</p>
</div>