<div class="home-callout text-center container-fluid">
  <h1>Welcoming all to People2People's Connective Community</h1>
  <h3>A collective enviroment where young adults and business owners grow together
  and flourish by word of mouth advertising ultimately increasing funds 
  and connections within your community</h3>
</div>